<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
 <section id="projects" class="content-section">
                <div class="section-heading">
                    <h1>Why problem solving is<br><em>valuable in improving your wellness</em></h1>
                </div>
                <div class="section-content">
                    <div class="masonry">
                        <div class="row">
                            <ul>                        
                                <p>“If you can’t get over under or around the wall then your way forward is
                            blocked. Get yourself a ladder or a spade or a map, then you can move past
                            your problem.’’</p>
                        <ul>
                            <li>Problem solving techniques can help us to overcome obstacles along the way to
                                achieving our goals and enjoying the sense of satisfaction and happiness that
                                follows.</li>
                            <li>It is not only the big issues and problems that can lead to anxiety and stress.
                                Small problems can be the immediate cause of anxiety and stress. </li>
                            <li>When we have too many things to do along combined with high standards to
                                meet, we may worry about what to do. </li>
                            <li>This is when being a skilled problem solver can help you immensely.
                            </li>
                            <li>When faced with coping with difficult situations that are causing you problems,
                                you risk feeling helpless and losing hope of getting a successful outcome. Anxiety
                                is ever close in these situations too. </li>
                            <li>Having a technique for problem solving will improve your coping capabilities
                                <ol>
                                    <li>identify and define problems </li>
                                    <li>prioritise problems </li>
                                    <li>choose one to work on</li>
                                    <li>come up with realistic solutions </li>
                                    <li>Re-assess and refine solutions. </li>
                                </ol>
                            </li>
                            <li>Whenever you have a task to do that is problematic and find yourself thinking,
“What if x occurs?” or “Now that x has occurred …” you will know how to generate the solution that you need. </li>
                            <li>This enables you to think more confidently and have thoughts like, “If x occurs,
                                then I will z”, where z is the solution.</li>

                            </br>
                            <p>Overall this is called contingency planning or avoiding your worst nightmares</p>
                            </ul>
                        </div>
                    </div>
                </div>            
            </section>
</div>
